*{
    margin: 0px;
    padding:0px;
}

li{
    padding:0.1cm;
    display: inline;
    
}
.div1{
    
    font-family:Montserrat;
    text-align:right;
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right:12px;
    font-size: 12px;

}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    color: white;
    
}
.divimage{
    background-image: url(tree-736885.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1000px;
}
